.rating-zoom {
	@apply w-4 scale-0 inline-block;
	animation: zoom 300ms ease-in-out forwards;
	&:nth-child(1) {
		animation-delay: 0.4s;
	}
	&:nth-child(2) {
		animation-delay: 0.525s;
	}
	&:nth-child(3) {
		animation-delay: 0.65s;
	}
	&:nth-child(4) {
		animation-delay: 0.775s;
	}
	&:nth-child(5) {
		animation-delay: 0.9s;
	}
}
@keyframes zoom {
	0% {
		transform: scale(0);
	}
	60% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

.ripple {
  @apply isolate relative;
  .rip-el {
    @apply absolute inset-0 overflow-hidden;
    span {
      @apply absolute top-[var(--y)] left-[var(--x)] -translate-x-1/2 -translate-y-1/2;
      @apply w-0 h-0 rounded-full bg-white/20;
			animation: ripples 0.8s linear;
    }
  }
}
@keyframes ripples {
  to {
		@apply w-[calc(var(--d))] h-[calc(var(--d))] opacity-0;
	}
}